<link rel='stylesheet' href='/api/public/css/body.css' />

<div class='BodyContainer'>
  {{! SideBarLeft}}
  <div class='SideBarLeft'>
    <div class='SideBarLeftWrapper'>
      <ul class='SideBarLeftList'>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>rss_feed</span>
          <i class='SideBarLeftName'>Feeds</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>chat</span>
          <i class='SideBarLeftName'>Chats</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>ondemand_video</span>
          <i class='SideBarLeftName'>Videos</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>groups</span>
          <i class='SideBarLeftName'>Groups</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>bookmarks</span>
          <i class='SideBarLeftName'>Bookmarks</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>help</span>
          <i class='SideBarLeftName'>Questions</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>work</span>
          <i class='SideBarLeftName'>Jobs</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>event</span>
          <i class='SideBarLeftName'>Events</i>
        </li>
        <li class='SideBarLeftListItem'>
          <span class='material-icons-two-tone'>school</span>
          <i class='SideBarLeftName'>Courses</i>
        </li>
      </ul>
      <button class='SideBarLeftButton'>Show more</button>
      <hr class='SideBarLeftHr' />
      <ul class='SideBarLeftFriendList'>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
        <li class='SideBarLeftFriend'>
          <img src='/api/public/image/Friend1.jpg' alt='' class='SideBarLeftFriendImage' />
          <span class='SideBarLeftFriendName'> Duyen</span>
        </li>
      </ul>
    </div>
  </div>
  {{! Mid}}
  <div class='MidContainer'>
    <div class='FeedsWrapper'>
      <div class='FeedShare'>
        <div class='FeedShareWrapper'>
          <div class='shareTop'>
            <img class='ShareProfilePicture' src='/api/public/image/Friend1.jpg' alt='' />
            <input placeholder="What's on your mind, Gia Huy" class='ShareInput' />
          </div>
          <hr class='shareHr' />
          <div class='shareBottom'>
            <div class='shareOptions'>
              <div class='shareOption'>
                <span class='material-icons-two-tone' id='shareIcon' style=''>perm_media</span>
                <span class='shareOptionText'>Photo or Video</span>
              </div>
              <div class='shareOption'>
                <span class='material-icons-two-tone' id='shareIcon'>local_offer</span>
                <span class='shareOptionText'>Tags</span>
              </div>
              <div class='shareOption'>
                <span class='material-icons-two-tone' id='shareIcon'>add_location_alt</span>
                <span class='shareOptionText'>Locations</span>
              </div>
              <div class='shareOption'>
                <span class='material-icons-two-tone' id='shareIcon'>add_reaction</span>
                <span class='shareOptionText'>Feelings</span>
              </div>
            </div>
            <button class='ShareButton'>Share</button>
          </div>
        </div>
      </div>
    </div>
    <div class='PostWrapper'>
      {{#each Post}}
        <div class='PostWrapperShare'>
          <div class='PostTop'>
            <div class='PostTopLeft'>
              <img class='PostProfileImage' src='/api/public/image/Friend1.jpg' alt='' />
              <span class='PostUserName'>{{this.name}}</span>
              <span class='PostDate'>{{this.date}}</span>
            </div>
            <div class='PostTopRight'>
              <span class='material-icons-two-tone'>more_vert</span>
            </div>
          </div>
          <div class='PostMid'>
            <span class='PostText'>
              Hey it's my fist post
            </span>
            <img class='PostImage' src='{{this.photo}}' alt='' />
          </div>
          <div class='PostBottom'>
            <div class='PostBottomLeft'>
              <span id='LikeIcon' class='material-icons-two-tone' onClick='click()'>thumb_up</span>
              <span id='LikeIcon' class='material-icons-two-tone' onClick='click()'>favorite</span>
              <span class='LikeCounter'>{{this.like}} person liked</span>
            </div>
            <div class='PostBottomRight'>
              <span class='PostComment'>
                {{this.commnent}}
                comment
              </span>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{! Right}}
  <div class='SideBarRight'>
    <div class='SideBarRightWrapper'>
      <div class='birthDayContainer'>
        <img src='/api/public/image/birthday.jpg' class='birthdayImage' alt='' />
        <span class='birthdayText'> <b>Duyen</b> and <b> 3 other friend </b> have birthday today </span>
      </div>
      <img class='SideBarRightAd' src='/api/public/image/Ad.jpg' alt='' />
      <h4 class='SideBarRightTitle'>Online Friends</h4>
      <ul class='FriendList'>
        {{#each User}}
          <li class='RightBarFriend'>
            <div class='RightBarProfileImageContainer'>
              <img src='{{this.img}}' alt='' class='RightBarProfileImage' />
              <span class='RightBarOnline'></span>
            </div>
            <span class='RightBarUserName'>{{this.Name}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script>
</script>